html, body{
    padding: auto;
    margin: auto;
    background-color: darkgray;
}

.toggle-wrap {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.toggle-input {
    display: none;
}

label {
    width: 250px;
    height: 60px;
    border: 3px solid black;
    border-radius: 40px;
    padding: .25em;
    background: white
}

.toggle-switch {
    height: 60px;
    width: 60px;
    background: black;
    border-radius: 50%;
    transition: all .5s;
}

.toggle-input:checked ~ .toggle-switch {
    transform: translateX(190px);
}